forgout

<form action="" method="post">
    <div>
        <label for="">Username</label>
        <input type="text">
    </div>
    <div>
        <button type="submit">Redefinir</button>
    </div>
</form>

<a href="/signin">Signin</a> 
<a href="/signup">Signup</a>