Signup

<form action="/account/create/" method="post">
    <div>
        <label for="">Name</label>
        <input required type="text" name="name">
    </div>
    <div>
        <label for="">Username</label>
        <input required type="text" name="username">
    </div>
    <div>
        <label for="">Email</label>
        <input required type="email" name="email">
    </div>
    <div>
        <label for="">Password</label>
        <input required type="password" name="password">
    </div>
    <div>
        <button type="submit">Access</button>
    </div>
</form>

<a href="/signin">Signin</a> 