Sign in

<form action="/atuh/account/authenticate/" method="post">
    <div>
        <label for="">Username or Email</label>
        <input required type="text" name="username">
    </div>
    <div>
        <label for="">Password</label>
        <input required type="password" name="password">
    </div>
    <div>
        <button type="submit">Access</button>
    </div>
</form>

<a href="/signup">Sign up</a> 
<a href="/forgout">Forgout</a>