<div>
    <h1>Welcome to Stuudy</h1>
    <h3>What do you want to do?</h3>

    <div>
        <a href="/signin">Sign In</a>
        <a href="/signup">Sign Up</a>
        <a href="/forgout">Forgot password?</a>
    </div>
</div>
