<link rel="stylesheet" href="../styles/login.css">
<div class="login">
    <p class="google">
        <img src="../logo.png" width="100" height="30" alt="">
    </p>
    <h1 class="text-center fazer-login">Fazer login</h1>
    <h3 class="text-center fazer-login">Use sua Conta do Google</h3>
    <div class="mt-2">
        <input id="input-google" type="text" name="" id="" required>
        <label for="" id="tel-or-phone">E-mail ou telefone</label>
    </div>
        <a class="esqueceu-senha" href="">Esqueceu seu e-mail?</a>
        <label class="no-computer">
            Não está no seu computador? Use o modo 
            vistante para fazer login com privacidade. 
            <a href="" class="esqueceu-senha">Saiba mais</a>
        </label>
    <div class="mt-2">
        <button class="btn-criar">Criar conta</button>
        <a href="#!/turmas" class="btn-proxima">Próxima</a>
    </div>
</div>